.stream-div {
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.row {
    width: 100%;
}

.btn {
    display: inline;
}

.floating-home-div {
    display: inline-block;
    width: 30%;
}

.element {
    width: 200px;
    height: 50px;
}

#start-section {
    background: #B9D9EB;
}
#start-section {
    display: flex;
    padding: 10vh;
}

.main-card {
    padding: 2em;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3em;
    width: 40%;
}

.main-card > * {
    justify-content: left;
    text-align: center;
}

.img-wrapper img {
    width: 100%;
}

.img-wrapper {
    width: 60%;
    display: inline-block;
}

#logo {
    width: 20em;
}

.topnav {
    background-color: #FAFAFA;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #0d6efd;
    color: white;
}

.urlReadOnly {
    background-color: #e9ecef;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    opacity: 1;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check-label {
    display: inline;
}

.formwrapper {
    padding: 2em;
}
