<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Web SDK</title>
</head>

<body id="start-section">
    <div class="container">
        <div class="topnav">
            <a href="record_playback">Record and Playback</a>
            <a href="playfile">Playfile</a>
            <a href="report">Report</a>
            <a class="active" href="online_livestream">Online Stream</a>
        </div>

        <div class="formwrapper">
            <div class="main-card">
                <form id="myForm" class="myForm" action="javascript:action_online_livestream()">

                    <p>
                        <label>Stream Token
                            <input type="text" id="stream_token" placeholder="  Enter a token" name="stream_token"
                                required>
                        </label>
                    </p>
                    <p><button class="btn btn-outline-secondary" type="button" onclick="generateid()">Generate
                            Random</button></p>
                    <p><button class="btn btn-primary" type="submit">Start action</button></p>

                </form>

                <div id="onlinelivestreamcontainer" style="display: none;">
                    <input class="urlReadOnly" type="text" value="Listener URL" id="listenerURL" readonly>

                    <button onclick='copyButton("listenerURL")' class="btn btn-outline-success">Copy Listener
                        URL</button>
                    <input class="urlReadOnly" type="text" value="Streamer URL" id="streamerURL" readonly>

                    <button onclick='copyButton("streamerURL")' class="btn btn-outline-success">Copy Streamer
                        URL</button>
                </div>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="liveToast-head" class="toast-header">
                <strong class="me-auto">Status</strong>
                <button type="button" class="btn-close" onclick="closeToast()" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div id="liveToast-message" class="toast-body">
                Message
            </div>
        </div>
    </div>
</body>

</html>