<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fnames.js') }}"></script>
    <title>Web SDK</title>
</head>

<body id="start-section">
    <div class="container">

        <div class="topnav">
            <a href="record_playback">Record and Playback</a>
            <a class="active" href="playfile">Playfile</a>
            <a href="report">Report</a>
            <a href="online_livestream">Online Stream</a>
        </div>

        <div class="formwrapper">
            <div class="main-card">
                <form id="myForm" class="myForm" action="javascript:action_playfile()">

                    <p>
                    <div class="input-group">
                        <select name="name" class="form-select" id="fileselect">
                            <option selected>Choose a file</option>
                        </select>
                    </div>
                    </p>
                    <p>
                        <label>Amplification
                            <input type="range" min="2" max="25" value="8" name="amplification"
                                oninput="this.nextElementSibling.value = this.value">
                            <output>8</output>
                            <!-- <input type="text" value="8" name="amplification"> -->
                        </label>
                    </p>
                    <fieldset>
                        <legend>Filter Type</legend>
                        <p><label> <input type="radio" name="filter" required value="nofilter" checked="checked">
                                No-filter </label></p>
                        <p><label> <input type="radio" name="filter" required value="heart"> Heart </label></p>
                        <p><label> <input type="radio" name="filter" required value="lung"> Lungs </label></p>
                    </fieldset>

                    <p><button class="btn btn-primary">Start action</button></p>

                </form>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="liveToast-head" class="toast-header">
                <strong class="me-auto">Status</strong>
                <button type="button" class="btn-close" onclick="closeToast()" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div id="liveToast-message" class="toast-body">
                Message
            </div>
        </div>
    </div>
</body>

</html>