<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fnames.js') }}"></script>
    <title>Web SDK</title>
</head>

<body id="start-section">
    <div class="container">

        <div class="topnav">
            <a href="record_playback">Record and Playback</a>
            <a href="playfile">Playfile</a>
            <a class="active" href="report">Report</a>
            <a href="online_livestream">Online Stream</a>
        </div>

        <div class="formwrapper">
            <div class="main-card">
                <form id="myForm" class="myForm" action="javascript:action_report()">

                    <p>
                    <div class="input-group">
                        <select name="web_report" class="form-select" id="fileselect">
                            <option selected>Choose a file</option>
                        </select>
                        <!-- <button class="btn btn-outline-secondary" type="button">Filename</button> -->
                    </div>
                    </p>

                    <fieldset>
                        <legend>Signal Type</legend>
                        <p><label> <input type="radio" name="signal_type" required value="heart" checked="checked">
                                Heart </label></p>
                        <p><label> <input type="radio" name="signal_type" required value="lung"> Lungs </label></p>
                    </fieldset>

                    <p><button class="btn btn-primary">Start action</button></p>

                </form>
                <div id="webreporturl" style="display:none;">
                    <input class="urlReadOnly" type="text" value="Web report URL" id="webreport" readonly>
                    <button onclick='copyButton("webreport")' class="btn btn-outline-success">Copy URL</button>
                </div>
            </div>

        </div>

    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="liveToast-head" class="toast-header">
                <strong class="me-auto">Status</strong>
                <button type="button" class="btn-close" onclick="closeToast()" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div id="liveToast-message" class="toast-body">
                Message
            </div>
        </div>
    </div>
</body>

</html>